.users-table {
    border-spacing: 0;    
}

.users-table__head {
    background-color: #ddd;
}

.users-table__head__row__field {
    padding: 0.25rem 0.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    text-transform: capitalize;
    text-align-last: left;
}

.users-table__body__row__field,
.users-table__head__row__field {
    padding: 0.5rem 1rem;
}

.users-table__body__row:nth-child(even) {
    background-color: #eee;
}

.users-table__body__row__field__image {
    height: 24px;
    margin-right: 0.5em;
}